In [104]:
import pandas as pd
from sklearn.feature_selection import RFECV
from sklearn.preprocessing import MinMaxScaler
from sklearn.ensemble import RandomForestRegressor
from boruta import BorutaPy

In [105]:
df = pd.read_csv('output\dataset_worldbank_transposed.csv')
df.head()

,Country Name,Year,Urban population (% of total population),Urban population,Urban population growth (annual %),"Population, total",Population growth (annual %),Poverty headcount ratio at $1.90 a day (2011 PPP) (% of population),"Prevalence of underweight, weight for age (% of children under 5)","Community health workers (per 1,000 people)",...,Forest area (% of land area),Forest area (sq. km),Land area where elevation is below 5 meters (% of total land area),Urban land area where elevation is below 5 meters (% of total land area),Urban land area where elevation is below 5 meters (sq. km),Rural land area where elevation is below 5 meters (% of total land area),Rural land area where elevation is below 5 meters (sq. km),Arable land (% of land area),Agricultural land (% of land area),Agricultural land (sq. km)
0,Aruba,1960,50.776,27525.0,NaN,54208.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Aruba,1961,50.761,28139.0,2.206183,55434.0,2.236462,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.111111,11.111111,20.0
2,Aruba,1962,50.746,28537.0,1.404498,56234.0,1.432843,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.111111,11.111111,20.0
3,Aruba,1963,50.730,28763.0,0.788835,56699.0,0.823502,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.111111,11.111111,20.0
4,Aruba,1964,50.715,28922.0,0.551271,57029.0,0.580334,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.111111,11.111111,20.0

In [106]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16226 entries, 0 to 16225
Data columns (total 78 columns):
 #   Column                                                                                      Non-Null Count  Dtype
---  ------                                                                                      --------------  -----
 0   Country Name                                                                                16226 non-null  object
 1   Year                                                                                        16226 non-null  int64
 2   Urban population (% of total population)                                                    16034 non-null  float64
 3   Urban population                                                                            16001 non-null  float64
 4   Urban population growth (annual %)                                                          15738 non-null  float64
 5   Population, total                                                                           16123 non-null  float64
 6   Population growth (annual %)                                                                15857 non-null  float64
 7   Poverty headcount ratio at $1.90 a day (2011 PPP) (% of population)                         2218 non-null   float64
 8   Prevalence of underweight, weight for age (% of children under 5)                           1226 non-null   float64
 9   Community health workers (per 1,000 people)                                                 213 non-null    float64
 10  Mortality rate, under-5 (per 1,000 live births)                                             11945 non-null  float64
 11  Primary completion rate, total (% of relevant age group)                                    7177 non-null   float64
 12  School enrollment, primary and secondary (gross), gender parity index (GPI)                 7947 non-null   float64
 13  Agriculture, forestry, and fishing, value added (% of GDP)                                  10009 non-null  float64
 14  CPIA public sector management and institutions cluster average (1=low to 6=high)            1881 non-null   float64
 15  Ease of doing business rank (1=most business-friendly regulations)                          189 non-null    float64
 16  Terrestrial and marine protected areas (% of total territorial area)                        775 non-null    float64
 17  Marine protected areas (% of territorial waters)                                            610 non-null    float64
 18  Terrestrial protected areas (% of total land area)                                          776 non-null    float64
 19  Annual freshwater withdrawals, total (% of internal resources)                              1194 non-null   float64
 20  Annual freshwater withdrawals, total (billion cubic meters)                                 1219 non-null   float64
 21  Population in urban agglomerations of more than 1 million (% of total population)           9696 non-null   float64
 22  Population living in areas where elevation is below 5 meters (% of total population)        681 non-null    float64
 23  Urban population living in areas where elevation is below 5 meters (% of total population)  681 non-null    float64
 24  Rural population living in areas where elevation is below 5 meters (% of total population)  681 non-null    float64
 25  Droughts, floods, extreme temperatures (% of population, average 1990-2009)                 168 non-null    float64
 26  GHG net emissions/removals by LUCF (Mt of CO2 equivalent)                                   941 non-null    float64
 27  Disaster risk reduction progress score (1-5 scale; 5=best)                                  83 non-null     float64
 28  SF6 gas emissions (thousand metric tons of CO2 equivalent)                                  709 non-null    float64
 29  PFC gas emissions (thousand metric tons of CO2 equivalent)                                  704 non-null    float64
 30  Nitrous oxide emissions (% change from 1990)                                                5522 non-null   float64
 31  Nitrous oxide emissions (thousand metric tons of CO2 equivalent)                            11948 non-null  float64
 32  Methane emissions (% change from 1990)                                                      5500 non-null   float64
 33  Methane emissions (kt of CO2 equivalent)                                                    11948 non-null  float64
 34  HFC gas emissions (thousand metric tons of CO2 equivalent)                                  704 non-null    float64
 35  Total greenhouse gas emissions (% change from 1990)                                         4961 non-null   float64
 36  Total greenhouse gas emissions (kt of CO2 equivalent)                                       11726 non-null  float64
 37  Other greenhouse gas emissions (% change from 1990)                                         5147 non-null   float64
 38  Other greenhouse gas emissions, HFC, PFC and SF6 (thousand metric tons of CO2 equivalent)   10965 non-null  float64
 39  CO2 emissions from solid fuel consumption (% of total)                                      12746 non-null  float64
 40  CO2 emissions from solid fuel consumption (kt)                                              12071 non-null  float64
 41  CO2 emissions (kg per 2017 PPP $ of GDP)                                                    6438 non-null   float64
 42  CO2 emissions (kg per PPP $ of GDP)                                                         6524 non-null   float64
 43  CO2 emissions (metric tons per capita)                                                      13342 non-null  float64
 44  CO2 emissions from liquid fuel consumption (% of total)                                     12746 non-null  float64
 45  CO2 emissions from liquid fuel consumption (kt)                                             13131 non-null  float64
 46  CO2 emissions (kt)                                                                          13345 non-null  float64
 47  CO2 emissions (kg per 2015 US$ of GDP)                                                      10956 non-null  float64
 48  CO2 emissions from gaseous fuel consumption (% of total)                                    12746 non-null  float64
 49  CO2 emissions from gaseous fuel consumption (kt)                                            12327 non-null  float64
 50  CO2 intensity (kg per kg of oil equivalent energy use)                                      8192 non-null   float64
 51  Energy use (kg of oil equivalent per capita)                                                7978 non-null   float64
 52  Electric power consumption (kWh per capita)                                                 7787 non-null   float64
 53  Energy use (kg of oil equivalent) per $1,000 GDP (constant 2017 PPP)                        4477 non-null   float64
 54  Renewable energy consumption (% of total final energy consumption)                          7319 non-null   float64
 55  Electricity production from renewable sources, excluding hydroelectric (% of total)         8110 non-null   float64
 56  Electricity production from renewable sources, excluding hydroelectric (kWh)                8360 non-null   float64
 57  Renewable electricity output (% of total electricity output)                                6894 non-null   float64
 58  Electricity production from oil sources (% of total)                                        8110 non-null   float64
 59  Electricity production from nuclear sources (% of total)                                    7982 non-null   float64
 60  Electricity production from natural gas sources (% of total)                                8110 non-null   float64
 61  Electricity production from hydroelectric sources (% of total)                              8110 non-null   float64
 62  Electricity production from coal sources (% of total)                                       8110 non-null   float64
 63  Access to electricity (% of population)                                                     6755 non-null   float64
 64  Foreign direct investment, net inflows (% of GDP)                                           10319 non-null  float64
 65  Cereal yield (kg per hectare)                                                               12199 non-null  float64
 66  Average precipitation in depth (mm per year)                                                2022 non-null   float64
 67  Agricultural irrigated land (% of total agricultural land)                                  973 non-null    float64
 68  Forest area (% of land area)                                                                8018 non-null   float64
 69  Forest area (sq. km)                                                                        8034 non-null   float64
 70  Land area where elevation is below 5 meters (% of total land area)                          678 non-null    float64
 71  Urban land area where elevation is below 5 meters (% of total land area)                    678 non-null    float64
 72  Urban land area where elevation is below 5 meters (sq. km)                                  681 non-null    float64
 73  Rural land area where elevation is below 5 meters (% of total land area)                    678 non-null    float64
 74  Rural land area where elevation is below 5 meters (sq. km)                                  681 non-null    float64
 75  Arable land (% of land area)                                                                13613 non-null  float64
 76  Agricultural land (% of land area)                                                          13764 non-null  float64
 77  Agricultural land (sq. km)                                                                  13929 non-null  float64
dtypes: float64(76), int64(1), object(1)
memory usage: 9.7+ MB

In [107]:
df['Country Name'].nunique()

266

In [108]:
len(df.columns)

78

# Boruta

In [109]:
df2 = df.copy()

In [110]:
df2 = pd.get_dummies(df2)

In [111]:
feature_names = df2.columns

In [112]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16226 entries, 0 to 16225
Columns: 343 entries, Year to Country Name_Zimbabwe
dtypes: float64(76), int64(1), uint8(266)
memory usage: 13.6 MB

In [113]:
df2.fillna(0,inplace=True)

In [114]:
df2.isnull().sum()

Year                                        0
Urban population (% of total population)    0
Urban population                            0
Urban population growth (annual %)          0
Population, total                           0
                                           ..
Country Name_West Bank and Gaza             0
Country Name_World                          0
Country Name_Yemen, Rep.                    0
Country Name_Zambia                         0
Country Name_Zimbabwe                       0
Length: 343, dtype: int64

In [115]:
del df2['Population, total']
del df2['Population growth (annual %)']
del df2['Urban population growth (annual %)']
del df2['Urban population']
del df2['Urban population (% of total population)']

In [116]:
X = df2.drop('CO2 emissions (metric tons per capita)',axis=1)
y = df2['CO2 emissions (metric tons per capita)']

In [117]:
scaler = MinMaxScaler()

In [118]:
X = scaler.fit_transform(X)

In [120]:
rf =RandomForestRegressor(n_jobs=-1, max_depth =64)

feat_selector = BorutaPy(rf, n_estimators="auto", random_state = 1)

In [123]:
x_filtered =feat_selector.fit_transform(X, y)

In [124]:
feat_selector.support_

array([ True, False, False, False,  True, False, False,  True, False,
       False, False, False, False, False, False,  True, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False,  True,  True, False,  True,  True,  True,  True,
       False, False, False, False, False, False, False, False, False,
       False, False,  True, False, False, False, False, False, False,
       False, False, False, False, False,  True,  True,  True, False,
       False, False, False, False, False, False, False, False, False,
       False, False,  True, False, False, False,  True, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False,  True, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False,  True, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False])

In [125]:
feat_selector.ranking_

array([  1,  75,  73,  90,   1,  25,  23,   1,  69, 159,  41,  37,  32,
        75,  84,   1, 131, 133, 145, 176,  66, 265, 171, 140,  38,  10,
        34,  10, 136,  52,   2,  54,   8,  24,  20,  15,  27,   8,   1,
         1,   2,   1,   1,   1,   1,  21,  50,  15,  61,  45,  54,  19,
        81,   3,  29,  39,   1,  13,  12,  72,  30,  11,  16, 150, 138,
       160, 145, 148,   1,   1,   1, 242, 123, 266, 215,  65, 310, 163,
       114,  22, 151,  91, 257,   1, 187, 190, 229,   1,  29, 225,  98,
       226, 169,  82, 288,  70, 274, 235, 172, 124, 189,  51,   5,  41,
       293, 278, 122, 242, 194, 240, 116,  35, 290,  56, 298, 310, 117,
       268, 176, 154, 197, 238, 165, 230, 245, 130,  26,  98,  95, 225,
        94, 112, 198, 197, 227, 291, 284, 223, 239, 182,  87, 218,  62,
        96, 252, 259,  43,  41,  32, 102,  64, 126, 129, 158, 185,  58,
        79, 248, 203, 270, 242,  67, 106,  44, 212, 310, 250, 228, 256,
        63, 270, 170, 236, 178,  85,  78, 110, 263,  88, 248, 234,  47,
       254, 200,  72, 120, 142, 310,  58, 217, 111, 189, 108,  93, 221,
       174,  76, 104, 310,   1, 183, 214, 208, 275, 181, 283, 267, 265,
       126, 285, 101,  50, 252, 109, 244, 199, 253,  17,  92, 282, 205,
       192, 139, 277, 168, 153, 186, 207, 146, 174, 134, 255, 273, 259,
       246, 310,  77, 219, 165, 207, 115, 294,   5, 271, 233,  19, 210,
       194, 292, 184, 237, 158, 310, 202, 310, 155,  81,  99, 133, 280,
         2, 127, 210, 166, 201, 210, 150, 107, 221, 204, 310,   1,  59,
         3, 262, 191, 310, 216,  55, 178, 138, 141, 249,  60, 310, 280,
       276, 105, 221, 287,  48, 299, 295, 259, 180,  86,  33, 129, 310,
       152, 300, 302, 301, 281,  46, 194, 148, 163, 167, 297, 122, 297,
       287, 120,  68, 156, 180,  83, 310, 104, 289, 262,   5, 233, 214,
       161, 136, 100, 113,  36, 143, 310, 310, 118, 272, 231,  90])

In [126]:
feature_ranks = list(zip(feature_names,
                        feat_selector.ranking_,
                        feat_selector.support_))

In [127]:
for feat in feature_ranks:
    if feat[2] == True:
        print('Features: {:<30} Rankï¼š {}, Keep: {}'.format(feat[0],feat[1],feat[2]))

Features: Year                           Rankï¼š 1, Keep: True
Features: Population, total              Rankï¼š 1, Keep: True
Features: Prevalence of underweight, weight for age (% of children under 5) Rankï¼š 1, Keep: True
Features: Terrestrial and marine protected areas (% of total territorial area) Rankï¼š 1, Keep: True
Features: CO2 emissions from solid fuel consumption (% of total) Rankï¼š 1, Keep: True
Features: CO2 emissions from solid fuel consumption (kt) Rankï¼š 1, Keep: True
Features: CO2 emissions (kg per PPP $ of GDP) Rankï¼š 1, Keep: True
Features: CO2 emissions (metric tons per capita) Rankï¼š 1, Keep: True
Features: CO2 emissions from liquid fuel consumption (% of total) Rankï¼š 1, Keep: True
Features: CO2 emissions from liquid fuel consumption (kt) Rankï¼š 1, Keep: True
Features: Renewable electricity output (% of total electricity output) Rankï¼š 1, Keep: True
Features: Forest area (sq. km)           Rankï¼š 1, Keep: True
Features: Land area where elevation is below 5 meters (% of total land area) Rankï¼š 1, Keep: True
Features: Urban land area where elevation is below 5 meters (% of total land area) Rankï¼š 1, Keep: True
Features: Country Name_Andorra           Rankï¼š 1, Keep: True
Features: Country Name_Argentina         Rankï¼š 1, Keep: True
Features: Country Name_Kazakhstan        Rankï¼š 1, Keep: True
Features: Country Name_Philippines       Rankï¼š 1, Keep: True

In [128]:
X.shape

(16226, 337)

In [129]:
x_filtered.shape

(16226, 18)