In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('owid-co2-data.csv')
df

,iso_code,country,year,co2,consumption_co2,co2_growth_prct,co2_growth_abs,trade_co2,co2_per_capita,consumption_co2_per_capita,...,ghg_per_capita,methane,methane_per_capita,nitrous_oxide,nitrous_oxide_per_capita,population,gdp,primary_energy_consumption,energy_per_capita,energy_per_gdp
0,AFG,Afghanistan,1949,0.015,NaN,NaN,NaN,NaN,0.002,NaN,...,NaN,NaN,NaN,NaN,NaN,7624058.0,NaN,NaN,NaN,NaN
1,AFG,Afghanistan,1950,0.084,NaN,475.00,0.070,NaN,0.011,NaN,...,NaN,NaN,NaN,NaN,NaN,7752117.0,9.421400e+09,NaN,NaN,NaN
2,AFG,Afghanistan,1951,0.092,NaN,8.70,0.007,NaN,0.012,NaN,...,NaN,NaN,NaN,NaN,NaN,7840151.0,9.692280e+09,NaN,NaN,NaN
3,AFG,Afghanistan,1952,0.092,NaN,0.00,0.000,NaN,0.012,NaN,...,NaN,NaN,NaN,NaN,NaN,7935996.0,1.001732e+10,NaN,NaN,NaN
4,AFG,Afghanistan,1953,0.106,NaN,16.00,0.015,NaN,0.013,NaN,...,NaN,NaN,NaN,NaN,NaN,8039684.0,1.063052e+10,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25199,ZWE,Zimbabwe,2016,10.738,12.153,-12.17,-1.488,1.415,0.765,0.866,...,4.703,11.92,0.85,6.55,0.467,14030338.0,2.096179e+10,47.5,3385.574,1.889
25200,ZWE,Zimbabwe,2017,9.582,11.248,-10.77,-1.156,1.666,0.673,0.790,...,NaN,NaN,NaN,NaN,NaN,14236599.0,2.194784e+10,NaN,NaN,NaN
25201,ZWE,Zimbabwe,2018,11.854,13.163,23.72,2.273,1.308,0.821,0.912,...,NaN,NaN,NaN,NaN,NaN,14438812.0,2.271535e+10,NaN,NaN,NaN
25202,ZWE,Zimbabwe,2019,10.949,12.422,-7.64,-0.905,1.473,0.748,0.848,...,NaN,NaN,NaN,NaN,NaN,14645473.0,NaN,NaN,NaN,NaN
25203,ZWE,Zimbabwe,2020,10.531,NaN,-3.82,-0.418,NaN,0.709,NaN,...,NaN,NaN,NaN,NaN,NaN,14862927.0,NaN,NaN,NaN,NaN

In [4]:
df.iso_code.value_counts()

GBR         271
OWID_WRL    271
CAN         236
DEU         229
USA         221
           ...
MHL          31
AND          31
TCA          31
TLS          19
OWID_KOS     13
Name: iso_code, Length: 219, dtype: int64

In [5]:
df.country.value_counts()

World                   271
Europe (excl. EU-27)    271
EU-28                   271
Europe                  271
United Kingdom          271
                       ...
Micronesia (country)     29
Micronesia               27
Wallis and Futuna        20
Timor                    19
Kosovo                   13
Name: country, Length: 244, dtype: int64

In [6]:
2021-271

1750

In [9]:
df.year.value_counts()

2015    244
2009    244
2012    244
2016    244
2008    244
       ...
1756      5
1772      5
1757      5
1773      5
1752      5
Name: year, Length: 271, dtype: int64

In [10]:
def get_nan(df):
    missing_value = df[df.isna().values.any(axis=1)]
    rows = missing_value.shape[0]
    print(rows, "rows with missing values")
    
    if rows > 0:
        print(df.isna().sum(), "\n")
        
get_nan(df)

24156 rows with missing values
iso_code                                3256
country                                    0
year                                       0
co2                                     1255
consumption_co2                        21228
co2_growth_prct                          273
co2_growth_abs                          1619
trade_co2                              21228
co2_per_capita                          1897
consumption_co2_per_capita             21228
share_global_co2                        1255
cumulative_co2                          1255
share_global_cumulative_co2             1255
co2_per_gdp                             9815
consumption_co2_per_gdp                21443
co2_per_unit_energy                    16063
coal_co2                                8016
cement_co2                             12956
flaring_co2                            20822
gas_co2                                16359
oil_co2                                 4665
other_industry_co2                     23205
cement_co2_per_capita                  12986
coal_co2_per_capita                     8344
flaring_co2_per_capita                 20823
gas_co2_per_capita                     16369
oil_co2_per_capita                      5023
other_co2_per_capita                   23205
trade_co2_share                        21228
share_global_cement_co2                12956
share_global_coal_co2                   8016
share_global_flaring_co2               20822
share_global_gas_co2                   16359
share_global_oil_co2                    4665
share_global_other_co2                 23205
cumulative_cement_co2                  12956
cumulative_coal_co2                     8016
cumulative_flaring_co2                 20822
cumulative_gas_co2                     16359
cumulative_oil_co2                      4665
cumulative_other_co2                   23205
share_global_cumulative_cement_co2     12956
share_global_cumulative_coal_co2        8016
share_global_cumulative_flaring_co2    20822
share_global_cumulative_gas_co2        16359
share_global_cumulative_oil_co2         4665
share_global_cumulative_other_co2      23205
total_ghg                              19996
ghg_per_capita                         20049
methane                                19993
methane_per_capita                     20047
nitrous_oxide                          19993
nitrous_oxide_per_capita               20047
population                              2326
gdp                                    11666
primary_energy_consumption             16514
energy_per_capita                      16523
energy_per_gdp                         18401
dtype: int64